@charset "utf-8";
/* CSS Document */
h2{color:#D33E2A}
dl{color:aqua}
h1{  font: 50px "隶书"; text-align:center;}    
.zt{text-align: center;}
strong{ font-size:60px;}
.blue{color:#2B75F5;}
.red{color:#D33E2A;}
#orange{ color:#FFC609;}
#green{ color:#00A45D;}

